# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
env.bak/
.env

# IDE-specific files (e.g., PyCharm, VSCode, etc.)
.idea/
.vscode/

# Dependency directories
lib/
libs/
library/

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Documentation
docs/_build/